<f:layout name="Email" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        EmailReview.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<td><h1>{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewEmailSubject', arguments:{0:'{topic.title}'})}</h1></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:#474747; color: #FFFFFF; padding: 0.5em 1em;">
                    {f:translate(key:'tx_t3seetopics_domain_model_topic.submittedAt')} <f:format.date format="{f:translate(key:'tx_t3seetopics_domain_model_topic.dateFormat')}" date="{dateTime}"/> {f:translate(key:'tx_t3seetopics_domain_model_topic.from')} <a href="mailto:{topic.authorMail}">{topic.authorName}</a>
                </td>
			</tr>
            <tr>
                <td>{f:translate(key:'tx_t3seetopics_domain_model_topic.description')}</td>
            </tr>
			<tr>
				<td>{topic.description -> f:format.html()}</td>
			</tr>
			<tr>
				<td>
                    {f:translate(key:'tx_t3seetopics_domain_model_topic.actions')}<br />
					<f:link.action action="reviewRelease" arguments="{token : '{topic.token}'}" absolute="1">{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewEmailRelease')}</f:link.action><br />
					<f:link.action action="reviewDelete" arguments="{token : '{topic.token}'}" absolute="1">{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewEmailDelete')}</f:link.action>
				</td>
			</tr>
		</tbody>
	</table>
</f:section>