<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<ol>
	<f:for each="{topics}" as="topic">
	<li>
		<f:if condition="{0:'{topic.voted}',1:'{settings.limitVotes}'} == {0:'1',1:'1'}">
			<f:then>
				<span class="tx-t3see-topics-icon tx-t3see-topics-up-da">&nbsp;</span>
				<span class="tx-t3see-topics-icon tx-t3see-topics-down-da">&nbsp;</span>
			</f:then>
			<f:else>
				<f:link.action action="plusVote" arguments="{topic : topic}" class="tx-t3see-topics-icon tx-t3see-topics-up">&nbsp;</f:link.action>
				<f:link.action action="minusVote" arguments="{topic : topic}" class="tx-t3see-topics-icon tx-t3see-topics-down">&nbsp;</f:link.action>
			</f:else>
		</f:if>
		<f:link.action action="show" arguments="{topic : topic}" title="{topic.title}" class="tx-t3see-topics-show"><f:format.crop maxCharacters="{settings.cropTitleMaxCharacters}" append="&nbsp;{f:translate(key:'tx_t3seetopics_domain_model_topic.cropAppend')}" respectWordBoundaries="{settings.cropTitleRespectWordBoundaries}">{topic.title}</f:format.crop></f:link.action>
		<span class="tx-t3see-topics-s">{topic.score}</span>
		<span class="tx-t3see-topics-clear"></span>
	</li>
	</f:for>
</ol>
<f:if condition="{settings.frontendCreate}">
	<f:link.action action="new" class="tx-t3see-topics-new">{f:translate(key:'tx_t3seetopics_domain_model_topic.new')}</f:link.action>
</f:if>
</f:section>