<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h{settings.subHeaderType}>{f:translate(key:'tx_t3seetopics_domain_model_topic.new')}</h{settings.subHeaderType}>

<f:flashMessages />

<f:render partial="FormErrors" />

<f:if condition="{settings.reviewEmailAddress}">
	{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewNew')}
</f:if>

<f:form method="post" action="create"  name="newTopic" object="{newTopic}">
<f:render partial="Topic/FormFields" />
	<f:if condition="{settings.reviewEmailAddress}">
		<f:then>
			<f:form.submit value="{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewCreate')}" />
		</f:then>
		<f:else>
			<f:form.submit value="{f:translate(key:'tx_t3seetopics_domain_model_topic.create')}" />
		</f:else>
	</f:if>
</f:form>
<f:link.action action="list" class="tx-t3see-topics-list">{f:translate(key:'tx_t3seetopics_domain_model_topic.backToList')}</f:link.action>
</f:section>