<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />
<f:render partial="Topic/Properties" arguments="{topic:topic}" />
<f:link.action action="list" class="tx-t3see-topics-list">{f:translate(key:'tx_t3seetopics_domain_model_topic.backToList')}</f:link.action>
<f:if condition="{settings.frontendCreate}">
	<br />
	<f:link.action action="new" class="tx-t3see-topics-new">{f:translate(key:'tx_t3seetopics_domain_model_topic.new')}</f:link.action>
</f:if>
</f:section>