{namespace vh=Tx_T3seeTopics_ViewHelpers}
<label for="authorName">
	<f:translate key="tx_t3seetopics_domain_model_topic.author_name" />  <span class="required" title="{f:translate(key:'tx_t3seetopics_domain_model_topic.required.info')}"><f:translate key="tx_t3seetopics_domain_model_topic.required" /></span>
</label><br />
<f:form.textfield property="authorName" /><br />
<label for="authorMail">
	<f:translate key="tx_t3seetopics_domain_model_topic.author_mail" /> <span class="required" title="{f:translate(key:'tx_t3seetopics_domain_model_topic.required.info')}"><f:translate key="tx_t3seetopics_domain_model_topic.required" /></span>
</label><br />
<f:form.textfield property="authorMail" /><br />
<label for="title">
	<f:translate key="tx_t3seetopics_domain_model_topic.title" /> <span class="required" title="{f:translate(key:'tx_t3seetopics_domain_model_topic.required.info')}"><f:translate key="tx_t3seetopics_domain_model_topic.required" /></span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_t3seetopics_domain_model_topic.description" />
</label><br />
	<f:form.textarea property="description" cols="48" rows="5" /><br />