{namespace fex = Tx_Flextend_ViewHelpers}
<fex:subHeader>{topic.title}</fex:subHeader>
<span class="tx-t3see-topics-info">
	<f:if condition="{topic.authorMail}">
		<fex:gravatar email="{topic.authorMail}" alt="{topic.authorName}" title="" size="40" />
	</f:if>
	<f:translate key="tx_t3seetopics_domain_model_topic.submittedAt" /> <f:format.date format="{f:translate(key:'tx_t3seetopics_domain_model_topic.dateFormat')}" date="{topic.crdate}"/>
	<f:if condition="{topic.authorName}">
		{f:translate(key:'tx_t3seetopics_domain_model_topic.from')} {topic.authorName}
	</f:if>
</span>
<f:format.html>{topic.description}</f:format.html>