<!DOCTYPE html>
<html>
<head>
    <title>{f:translate(key:'tx_t3seetopics_domain_model_topic.reviewEmailSubject', arguments:{0:'{topic.title}'})}</title>
</head>
<body>
    <f:render section="main" />
</body>
</html>